@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: system-ui, Arial, sans-serif;
}

li {
    list-style: none;
    padding: 0;
}

label {
    user-select: none;
}

details > summary {
    cursor: pointer;
}